@tailwind base;
@tailwind components;
@tailwind utilities;

/* Teams.css */

.know-more-button {
  display: none;
}

.team-container:hover .know-more-button {
  display: block;
}

/* globals.css or your custom CSS file */
.background-image {
  background: url("/backgroundfinal.png") center/cover no-repeat;
  backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
  background-color: rgba(
    0,
    0,
    0,
    1
  ); /* Update the background color and opacity as need */
  position: relative;
  background-attachment: scroll; /* Add this property to make the image scroll with the page */
}

/* Optionally, you can add a pseudo-element for additional styling */
.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.85
  ); /* Adjust the background color opacity */
  z-index: -1;
}

/* styles.css */

.slideshow-container {
  display: flex;
  transition: transform 0.5s ease; /* Add a transition for smooth sliding */
  will-change: transform;
  overflow: hidden; /* Hide overflowing images */
  white-space: nowrap; /* Prevent line breaks between images */
}

.slideshow-item {
  flex: 0 0 100%; /* Make sure each image takes the full width */
}

.slideshow-container:not(:first-child) {
  transform: translateX(
    calc(-100% * var(--active-index))
  ); /* Translate to show the active image */
}

.secondary-background-image {
  background: url("/landingpage.png") center/cover no-repeat; /* Replace with the actual path to your second image */
  position: relative;
  background-attachment: scroll; /* Add this property to make the image scroll with the page */
}

/* Add these styles to your CSS file or style block */
.image-class {
  max-width: 100%;
  height: auto;
  /* Add any other styling properties you need */
}
